.advice {
  padding: 50px 0;
  background-color: #0e0d12;
}
.advice__title {
  margin: 0;
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.advice__form {
  max-width: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 980px) {
  .advice__container {
    width: 90%;
    margin: 0 auto;
  }
}