.footer {
  padding: 45px 0;
  background-color: #0f0e13;
}
.footer__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.footer__map {
  min-height: 355px;
  margin-bottom: 45px;
  background: url('/img/footerMap.png') no-repeat center;
}
.footer__social-links {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.footer__link {
  display: block;
  width: 40px;
  height: 40px;
  
}
.footer__link_facebook {
  background: url('/img/facebook.png');
}
.footer__link_twitter {
  background: url('/img/twitter.png');
}
.footer__link_linkedin {
  background: url('/img/linkedin.png');
}
.footer__link_vk {
  background: url('/img/vk.png');
}
.footer__link_ok {
  background: url('/img/odnoklasniki.png');
}
.footer__link_youtube {
  background: url('/img/youtube.png');
}
.footer__link_inst {
  background: url('/img/inst.png');
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 980px) {
  .footer__container {
    width: 90%;
  }
}

@media screen and (max-width: 470px) {
  .footer__inner {
    flex-direction: column;
    text-align: center;
  }
  .footer__social-links {
    flex-wrap: wrap;
  }
}